fastapi>=0.110.0
uvicorn
sqlalchemy[asyncio]
asyncpg
pydantic
requests
openai
python-dotenv
httpx
loguru
anyio>=4.5.0
starlette>=0.37.0
openai-agents
aiohttp
ijson
voyageai
weaviate-client==4.15.4
protobuf>=5.26.1
langfuse
logfire
nest_asyncio